.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  max-height: 473px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 16px;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 342px;
  max-width: 630px;
}

.modal__label {
  font-size: 16px;
  color: #212121b2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  margin-top: 20px;
}

.modal__input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #212121;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__input:hover {
  border-color: #212121;
  box-shadow: 0 0 0 2px rgba(33, 33, 33, 0.1);
}

.modal__input:focus {
  outline: none;
  border-color: #212121;
  box-shadow: 0 0 0 2px rgba(33, 33, 33, 0.1);
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  max-width: 156px;
  height: 52px;
  width: 100%;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 32px;
}

.modal__submit-btn:hover {
  background-color: #212121cc;
}

.modal__submit-btn-disabled {
  background-color: #e6e6e6;
  color: #b0b0b0;
  cursor: not-allowed;
  opacity: 0.6;
}

.modal__submit-btn:disabled {
  background-color: #e6e6e6;
  color: #b0b0b0;
  cursor: not-allowed;
  opacity: 0.6;
}

.modal__close-btn {
  background-image: url(../images/close_icon_grey.svg);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border-style: none;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close_icon.svg);
}

.modal__close-btn:hover {
  opacity: 0.4;
}

.modal__image-container {
  position: relative;
  top: 81px;
  margin-bottom: 80px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  padding: 4px 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
  position: absolute;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 12px;
    gap: 24px;
  }
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__caption {
    font-size: 16px;
  }
  .modal__close-btn_type_preview {
    top: -52px;
    right: 0;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: unset;
  }
}
